.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
body {
  background-color: white;
  margin: 20px;

}
/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

} */

.description {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: cursive, Times New Roman, Georgia, Garamond

}

img {
  width: 100%;
  height: auto;
  opacity: 0.3;

}

.sentence {

}


.container {
  margin: 30px 50px 30px 50px;
  padding: 15px;
  border: 2px solid #00A;
  background-color:#FFF;
  font: 20px;


}
